<section>
  <h1><i class="fa fa-sign-in"></i> Confirm your identity</h1>
  <p>
    Please confirm your identity by entering the token sent to the email address
    you provided. <strong>Remember the token is valid for 5 minutes</strong>.
    Please do not navigate away from this screen until you have confirmed your identity.
    If you navigate away or fail to confirm your identity before the token expires
     you will need to wait 2 hours to retry. Thank you.
  </p>
  <form>
    <div class="form-group">
    <div class="form-group">
      <label for="token">Token:</label>
      <input type="text" class="form-control" id="token" v-model="token">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-large pull-right"
        @click.stop.prevent="confirmToken">Confirm!</button>
    </div>
  </form>
</section>
