<!--from /components/app_nav/template.html -->
<nav class="navbar navbar-inverse">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a v-link="{name: 'home'}" class="navbar-brand" id="app-label">Textpedia</a>
  </div>
  <!-- Collection of nav links and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a v-link="{name: 'home'}">Home</a></li>
      <li><a v-link="{name: 'sign-up'}">Sign Up</a></li>
      <li><a v-link="{name: 'how'}">How It Works</a></li>
    </ul>
  </div>
</nav>
